/* general styling */

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Geologica:wght@100..900&family=Habibi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 2.5rem;
    color: rgba(0,92,165,255);
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

.button {
    border: rgba(0,92,165,1) 2px solid;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: rgba(0,92,165,1);
    color: white;
}

/* page scroll animation */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.8s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.stats_element :nth-child(2) {
    transition-delay: 220ms;
}

.stats_element :nth-child(3) {
    transition-delay: 340ms;
}

.support_section :nth-child(2) {
    transition-delay: 220ms;
}

.support_section :nth-child(3) {
    transition-delay: 340ms;
}

/* navbar */
.navbar {
    min-height: 6vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(0,92,165,1);
    width: 100%;
    overflow: hidden;
}

.navbar_buttons {
    width: 20%;
    list-style: none;
}

.navbar_buttons :hover {
    color: rgba(0,92,165,255);
    background-color: #EEEEEE;
}

.navbar_links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,92,165,255);


    color: #EEEEEE;
    text-decoration: none;
    font-size: 1.5rem;

    transition: all 0.3s ease-in-out;
}

.navbar_links i {
    height: 0;
    width: 0;
    margin-top: -20px;
    margin-left: -17px;
}

/* landing page */

#hero {
    display: flex;
    height: 94vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#landing_text {
    position: absolute;
    width: 0px;
    margin-left: -80vw;
    margin-right: auto;
}

#landing_text h1 {
    font-size: 6.75rem;
    color: #EEEEEE;
    font-weight: 700;
}

.landing_main {
    border-top: 1px solid white;
}

#intro {
    height: 57vh;
    display: flex;
}

.intro_element {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#intro_text_title {
    width: 50%;
    font-size: 2.5rem;
    color: rgba(0,92,165,255);
    font-weight: 700;
}

.intro_text_body {
    margin-top: 20px;
    word-wrap: break-word;
    font-size: 1.4rem;
    font-weight: 650;
}

#intro_img {
    overflow: hidden;
}

#stats {
    height: 37vh;
    display: flex;
    justify-content: space-evenly;
}

.stats_element {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats_title {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}

#projects {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.projects_element {
    width: 50%;
    overflow: hidden;
    display: flex;
}

#projects_img {
    align-items: center;
    justify-content: center;
}

#projects_text {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projects_text_description {
    word-wrap: break-word;
    width: 70%;
}

/* contact page */
.contact_section {
    width: 35%;
    height: 100%;
}

.contact_section .hidden {
    margin-top: 2rem;
}

.contact_main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(208, 208, 208);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

/* support page */
#support_volunteer, #support_donate, #support_sponsor {
    display: flex;
    height: 55vh;
}

.support_element {
    width: 50%;
}

/* staff page */
.staff_container {
    height: 40vh;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: 3rem;
}

.staff_photo, .staff_bio {
    height: 100%;

}

.staff_bio {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    justify-content: space-evenly;
}

.staff_photo {
    width: 25%;
    overflow: hidden;
    margin-top: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}


@media screen and (max-width: 900px) {

    .hidden {
        opacity: 1;
        filter: blur(0);
        transition: all 0.8s;
        transform: translateX(0);
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #intro, #stats, #projects{
        flex-direction: column;
        height: auto;
    }

    #landing_text h1 {
        font-size: 13vw;
    }

    #intro_img img {
        display: none;
    }

    #stats {
        background-color: rgb(204, 204, 204);
    }

    #projects_text {
        height: 90vh;
    }

    #hero {
        max-width: 100%;
    }

    .intro_element, .stats_element, .projects_element {
        width: 90vw;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .intro_element {
        padding-top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_links {
        display: none;
    }
    
    #intro_text_title, #intro_text_body {
        width: 100%;
    }

    #projects_img img {
        width: 100%;
    }

    #daniel_blurb {
        display: none;
    }

}